= semantic_form_for :password, :url => password_index_path do |f|
  %h2 +Get a password reset email...
  = f.inputs do
    = f.input :email, :label => 'Your email address'
  = f.buttons do
    = f.submit "Send", :class => 'button'