<%= form_for(@user, :html => { :multipart => true } ) do |f| %>
  <% if params[:action] == 'new' %>
	  <h2>+Add Yourself</h2>
  <% else %>
    <h2>+Edit Yourself</h2>
  <% end %>

  <% if @user.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      

</div>
  <% end %>
	
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => 'John Doe' %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :placeholder => 'john@doe.com' %>
  </div>
  
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <!-- <div class="field">
      <%= f.label :admin %>
      <%= f.check_box :admin %>
    </div> -->

  <div class="field">
    <%= f.label :url1, 'Twitter' %>
    <%= f.text_field :url1, :placeholder => "@johndoe" %>
  </div>  
  <div class="field">
    <%= f.label :url2, 'URL' %>
    <%= f.text_field :url2, :placeholder => "http://johndoe.com" %>
  </div>      
  <div class="field">
    <%= f.label :url3, 'URL' %>
    <%= f.text_field :url3, :placeholder => "http://johndoe.com" %>
  </div>

  <%= f.fields_for :missions do |m| %>
    <div class="field">
      I&nbsp;
      <%= m.select :category_id, Category.all.map {|x| [x.name, x.id]} %>
      <%= m.text_field :statement %>
    </div>
  <% end %>

  <div class="actions">
    <input id="user_submit" name="commit" type="submit" value="Submit" class="button">
  </div>

<% end %>
