<%= form_for(@user, :html => { :multipart => true } ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :url1 %><br />
    <%= f.text_field :url1 %>
  </div>  
  <div class="field">
    <%= f.label :url2 %><br />
    <%= f.text_field :url2 %>
  </div>  
  <div class="field">
    <%= f.label :url3 %><br />
    <%= f.text_field :url3 %>
  </div>  
        
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
