<%= form_for(@user, :html => { :multipart => true } ) do |f| %>

	<h2>+Add Yourself</h2>

  <% if @user.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>
	
	<div class="field">
  		<label>Your world</label>
		<%= select_tag("categories", options_from_collection_for_select(Category.all, "id", "name")) %>
	</div>
	
	<div class="field">
		<label>Your mission</label>
		<%=text_field_tag 'mission_statement' %>
	</div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => 'Jane Doe' %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :placeholder => 'jane@doe.com' %>
  </div>
  <div class="field">
	<%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :url1 %>
    <%= f.text_field :url1 %>
  </div>  
  <div class="field">
    <%= f.label :url2 %>
    <%= f.text_field :url2 %>
  </div>  
  <div class="field">
    <%= f.label :url3 %>
    <%= f.text_field :url3 %>
  </div>    
    
  <div class="actions">
    <input id="user_submit" name="commit" type="submit" value="Submit" class="button">
  </div>

<% end %>