<div id="person-<%= user.id %>" class="person">
	<%= display_photo user.avatar %>
	<div class="overlay">
		<h2><%= user.name %></h2>

		<% user.missions.each do |mission| %>
			<p class="tag">I <%= mission.category.name.downcase %> <%= mission.statement %></p>
		<% end %>

		<div class='icons'>
			<% if !user.url1.blank? %>
			<a href="http://twitter.com/<%= user.url1 %>" class="twitter" target="_blank">Twitter</a>
			<% end %>
			<% if !user.url2.blank? %>
			<a href="<%= user.url2 %>" class="link" target="_blank">URL</a>
			<% end %>
			<% if !user.url3.blank? %>
			<a href="<%= user.url3 %>" class="link" target="_blank">URL</a>
			<% end %>
		</div>
	</div>
</div>
