
	<% @users.each do |user| %>

	 <div id="person-<% user.id %>" class="person">
		
		<img style="display: inline-block" src="<%= user.avatar.url(:medium) %>" />
	
			<div class="overlay">

				<h2><%= user.name %></h2>

				
				<% if !user.missions[0].nil? then %>
				  <p class="tag">I <%=user.missions[0].category.name.downcase %>&nbsp;<%=user.missions[0].statement %> </p>
				<% end%>
				<% if !user.missions[1].nil? then %>
				  <p class="tag">I <%=user.missions[1].category.name.downcase %>&nbsp;<%=user.missions[1].statement %> </p>
				<% end%>
				<% if !user.missions[2].nil? then %>
				  <p class="tag">I <%=user.missions[2].category.name.downcase %>&nbsp;<%=user.missions[2].statement %> </p>
				<% end%>				
				<div class='icons'>
				  <% if !user.url1.blank? %>
				    <a href="http://twitter.com/<%= user.url1 %>" class="twitter" target="_blank">Twitter</a>
				  <% end %>
				  <% if !user.url2.blank? %>
				    <a href="<%= user.url2 %>" class="link" target="_blank">URL</a>
				  <% end %>
					<% if !user.url3.blank? %>
				    <a href="<%= user.url3 %>" class="link" target="_blank">URL</a>
				  <% end %>
				  
				</div>
<!--
				<div class="tags">
					<a href="#">Drupal</a>
					<a href="#">Banjos</a>
					<a href="#">Sandwhiches</a>
				</div>
-->
			</div>
		<!--
			    <td><%= link_to 'Show', user %></td>
			    <td><%= link_to 'Edit', edit_user_path(user) %></td>
			    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
			-->
		</div>
	<% end %>
