<h1>Listing users</h1>

<section id="people">

	<% @users.each do |user| %>

	 <div id="person-<% user.id %>" class="person">
		
		<img style="display: inline-block" src="<%= user.url_photo %>" />
	
			<div class="overlay">

				<h2><%= user.name %></h2>

				<p class="tag">Pet my little furry head.</p>

				<div class='icons'>
					<a href="#" class="twitter">Twitter</a>
					<a href="#" class="email"><%= user.email %></a>
					<a href="#" class="link">URL</a>
				</div>

				<div class="tags">
					<a href="#">Drupal</a>
					<a href="#">Banjos</a>
					<a href="#">Sandwhiches</a>
				</div>

			</div>
		<!--
			    <td><%= link_to 'Show', user %></td>
			    <td><%= link_to 'Edit', edit_user_path(user) %></td>
			    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
			-->
		</div>
	<% end %>

</section>

<br />

<%= link_to 'New User', new_user_path %>
