<%= semantic_form_for @user_session, :url => "/user_session/" do |f| %>
  <h2>+Sign in</h2>
  <%= f.inputs :email, :password %>
  <%= f.buttons do %>
  <li><%= link_to "Forgot your password?", password_index_path %></li>
    <%= f.submit "Sign in", :class => 'button' %>
	<% end %>
<% end %>