<!DOCTYPE html>
<html>

<head>
	<meta charset='UTF-8'>

	<title>NOLADEX</title>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Noladex: a digital rolodex of the many talents in Greater New Orleans.">
	<meta name="keywords" content="nola, noladex, nolodex, rolodex, new orleans, louisiana, talent, creative, class, community, artist, designer, developer, business, teacher, healer, create, art, web, entreprenuer">
	
	<link rel='stylesheet' href='/stylesheets/style.css'>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24621816-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</head>

<body>
	<section id="topbar" class="clear">
		<h1 id="logo">
			<a href="/" title="home">NOLAdex</a>
		</h1>
		<div id="filter">
			<%= select_tag "categories", options_from_collection_for_select(Category.all, "id", "name", params[:category]) %>
		</div>
			
<!-- TODO add search functionality back <input type="search" name="search" id="search" results="5" placeholder="search..."> -->			
		<ul id="navigation" class="right clear">
	  		<li><a class="about-link" href="#about" title="About">About</a></li>	
	  		<%= render :partial => 'shared/navigation' %>
			<li><a href="/users/new" class="add-button">Add Yourself</a></li>
		</ul>
	</section>
	<div id="about" class="clear">
		<a class="close-link" href="#about">Close</a>
		<div id="text">
			<h1 class="logo">NOLAdex</h1>
			<h2>We live, we love, we grow New Orleans</h2>
			<p>
				NOLAdex is simply a digital rolodex – a collection of the many talented people of Greater New Orleans. We inspire one another. We see talent in each other. We connect with each other.
			</p>
			<p>
				This project was created by <a href="images/noladex_team.jpg">the generous volunteers</a> who participated in the second day 'Hack Day' of <a href="http://www.barcampnola.com" target="_blank">BarCampNola4</a> on the weekend of  July 16-17, 2011. This site is further maintained by <a href="http://www.gnocode.com/">gnocode</a>.
			</p>
			<div id="credits" class="clear">
				<p>
					Due credit: <a href="http://prtlnd.com/" target="_blank">Prtlnd</a> | <a href="http://desmob.com/" target="_blank">Des Mob</a>
				</p>
				<a id="facbok" href="http://www.facebook.com/pages/Noladex/123525447737442">NOLAdex on Facebook</a>
				<a id="twitbox" href="http://twitter.com/noladex">NOLAdex on Twitter</a>		 									
				<p id="counted">
				  <%
				    if params[:category]		      
				      @category = Category.find(params[:category])
				      @category_name = @category.name if !@category.nil?		      
				      @count = User.find_by_category(params[:category]).size 
				    else
				      @count = User.all().size
			      end
				  %>
				  <a href="/"><%=@count %> New Orleanians on NOLAdex <%= @category_name.downcase if !@category_name.nil? %></a>		  		 
			 	</p>
			</div>
		</div>
	</div>
	
	<section id="people">
		<%= yield %>	
	</section>

	<%= javascript_include_tag "jquery.min", "jquery_ujs", "plugins", "noladex.js", "jquery.pageless.js" %>
  <%= yield :javascript %>
</body>
</html>
